In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("master.csv")

In [3]:
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [4]:
data = data.drop(data.columns[[5,6,7,8,9,11]], axis=1)
data

          country  year     sex          age  suicides_no  gdp_per_capita ($)
0         Albania  1987    male  15-24 years           21                 796
1         Albania  1987    male  35-54 years           16                 796
2         Albania  1987  female  15-24 years           14                 796
3         Albania  1987    male    75+ years            1                 796
4         Albania  1987    male  25-34 years            9                 796
...           ...   ...     ...          ...          ...                 ...
27815  Uzbekistan  2014  female  35-54 years          107                2309
27816  Uzbekistan  2014  female    75+ years            9                2309
27817  Uzbekistan  2014    male   5-14 years           60                2309
27818  Uzbekistan  2014  female   5-14 years           44                2309
27819  Uzbekistan  2014  female  55-74 years           21                2309

[27820 rows x 6 columns]

In [5]:
data['case_year'] = data.groupby(['year'])['suicides_no'].transform(sum)
data

,country,year,sex,age,suicides_no,gdp_per_capita ($),case_year
0,Albania,1987,male,15-24 years,21,796,126842
1,Albania,1987,male,35-54 years,16,796,126842
2,Albania,1987,female,15-24 years,14,796,126842
3,Albania,1987,male,75+ years,1,796,126842
4,Albania,1987,male,25-34 years,9,796,126842
...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,2309,222984
27816,Uzbekistan,2014,female,75+ years,9,2309,222984
27817,Uzbekistan,2014,male,5-14 years,60,2309,222984
27818,Uzbekistan,2014,female,5-14 years,44,2309,222984
27819,Uzbekistan,2014,female,55-74 years,21,2309,222984

In [6]:
data['case_sex']=data.groupby(['year','sex'])['suicides_no'].transform(sum)
data

,country,year,sex,age,suicides_no,gdp_per_capita ($),case_year,case_sex
0,Albania,1987,male,15-24 years,21,796,126842,91836
1,Albania,1987,male,35-54 years,16,796,126842,91836
2,Albania,1987,female,15-24 years,14,796,126842,35006
3,Albania,1987,male,75+ years,1,796,126842,91836
4,Albania,1987,male,25-34 years,9,796,126842,91836
...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,2309,222984,51556
27816,Uzbekistan,2014,female,75+ years,9,2309,222984,51556
27817,Uzbekistan,2014,male,5-14 years,60,2309,222984,171428
27818,Uzbekistan,2014,female,5-14 years,44,2309,222984,51556
27819,Uzbekistan,2014,female,55-74 years,21,2309,222984,51556

In [7]:
data.to_csv('cleaned.csv')